---
import fs from "node:fs/promises";
import { Image } from "@astrojs/image/components";
import probe from "probe-image-size";
import "lightgallery/css/lightgallery.css";
import "lightgallery/css/lg-zoom.css";

let allImages: {
  name: string;
  images: {
    path: string;
    width: number;
    height: number;
  }[];
}[] = [];

const albums = await fs.readdir("src/images");

for (const e of albums) {
  const images = await fs.readdir("src/images/" + e);
  let pathImages: {
    path: string;
    width: number;
    height: number;
  }[] = [];
  for (const img of images) {
    const meta = await probe.sync(await fs.readFile(`src/images/${e}/${img}`));

    pathImages.push({
      path: `src/images/${e}/${img}`,
      width: meta?.width ?? 0,
      height: meta?.height ?? 0,
    });
  }

  allImages.push({
    name: e,
    images: pathImages,
  });
}

function getSpanEstimate(size: number) {
  //Make horizontal pictures 2 units wide (2x1)
  if (size > 5000) {
    return 2;
  }

  return 1;
}

//console.log(allImages);
---

{
  allImages.reverse().map((album, i) => (
    <div class={`w-full min-h-screen ${i % 2 === 0 ? "bg-white text-black" : "bg-black text-white"} p-16 flex flex-col`}>
      <div class="flex justify-between w-full pb-16">
        <div>{album.name.toLocaleLowerCase() + "_2022"}</div>
      </div>
      <div
        id="gallery"
        class={`grid grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] grid-rows-[repeat(auto-fit,_300px)] grid-flow-dense gap-4`}
      >
        {album.images.map((img, i) => (
          <div
            style={`grid-column-end: span ${getSpanEstimate(
              img.width
            )}; grid-row-end: span: ${getSpanEstimate(img.height)};`}
            class={`hover:scale-[1.02] transition-all duration-200`}
          >
            <a class="cursor-pointer img" data-lg-size={`${img.width}-${img.height}`}>
              <Image
                alt=""
                width={img.width * 0.25}
                height={img.height * 0.25}
                src={img.path}
                class={"h-full w-full object-cover"}
              />
            </a>
          </div>
        ))}
      </div>
      <div class="italic text-sm pt-6 text-right w-full">
        images taken with a vintage lens during a late night walk
      </div>
    </div>
  ))
}

<script>
  //TODO: get off of lightgallery because of weird license shit
  //https://github.com/dimsemenov/photoswipe
  
  import lightgallery from "lightgallery";
  import lgZoom from "lightgallery/plugins/zoom";

  lightgallery(document.getElementById("gallery")!, {
    plugins: [lgZoom],
    counter: false,
    selector: "img",
    download: false,
    zoom: true,
  });
</script>
