---
import { readFile, readdir } from "node:fs/promises";
import probe from "probe-image-size";
import "photoswipe/style.css";
import GalleryImage from "./GalleryImage.astro";
import { checkFileExists } from "../utils/fs";

let galleries: gallery[] = [];

const albums = await readdir("src/images");

for (const e of albums) {
  const images = await readdir(`src/images/${e}`);
  let pathImages: image[] = [];
  for (const img of images) {
    if (img.includes(".json")) continue;
    const meta = await probe.sync(await readFile(`src/images/${e}/${img}`));

    pathImages.push({
      path: `./src/images/${e}/${img}`,
      width: meta?.width ?? 0,
      height: meta?.height ?? 0,
    });
  }

  if (await checkFileExists(`src/images/${e}/info.json`)) {
    const infoFile = await readFile(`src/images/${e}/info.json`);
    const infoJson: gallery = JSON.parse(infoFile.toString());

    console.info(`src/images/${e}/info.json FOUND`);

    galleries.push({
      name: infoJson.name ?? e,
      images: pathImages,
      year: infoJson.year,
      subtitle: infoJson.subtitle,
    });
  } else {
    console.info(`src/images/${e}/info.json NOT FOUND`);
    galleries.push({
      name: e,
      images: pathImages,
      year: "unknown",
      subtitle: "",
    });
  }
}
---

{
  galleries.reverse().map((album, i) => (
    <div
      class={`w-full ${
        i % 2 === 0 ? "bg-white text-black" : "bg-black text-white"
      } p-8 md:p-16 flex flex-col items-center`}
    >
      <div class="flex justify-between w-full pl-2 pb-6 lg:pb-14">
        <div>{album.name.toLocaleLowerCase() + "_" + album.year}</div>
      </div>
      <div
        id="gallery"
        class={`flex flex-col  md:grid md:grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] md:grid-rows-[repeat(auto-fit,_300px)] md:grid-flow-dense md:gap-4`}
      >
        {album.images.map((img) => (
          <GalleryImage image={img} />
        ))}
      </div>
      <div class="italic text-sm pt-6 text-right w-full p-2">
        {album.subtitle}
      </div>
    </div>
  ))
}

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    allowPanToNext: false,
    allowMouseDrag: true,
    wheelToZoom: true,
    zoom: false,
    counter: false,
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
